* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #f2f3f5;
  --background-dark: #0b132b;
  --background-dark-2: #1f272e;
  --background-dark-3: #4a5055;
  --gray-line: #dcdde0;
  --gray-line-2: #8a8a8a;
  --text: #474747;
  --text-highlight: #b3b9ff;
  --title: #2e384d;
  --red: #e83f5b;
  --green: #46d62b;
  --blue: #555ebd;
  --blue-dark: #026f7e;
  --blue-twitter: #028394;
  --blue-saphire: #2e5266;
  --footer-light: #d3d0cb;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
textarea,
button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.container {
  height: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem 2rem 2rem;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}
